{% extends 'structure.html' %}

{% block content %}
<div class="row">
	<h2 class="center"> How to add Citations to your essay </h2>
</div>
<div class="row">
	<div class="center-div">
		<img src="/static/images/apa.gif" class="citation-gif" />
	</div>
</div>
<div class="row">
	<div class="col-sm-2" ></div>
	<div class="col-sm-4  center-div">
		<a href="https://scholar.google.com/" target="_blank"><button class="ex-button"><p class="big-text">Google Scholar</p></button></a>
	</div>
	<div class="col-sm-4  center-div">
		<a href="{% url 'apa-citation-new' %}"><button class="ex-button"><p class="big-text">Format Your Essay</p></button></a>
	</div>
	<div class="col-sm-2"> </div>
</div>
{% endblock %}