{% extends 'structure.html' %}

{% block content %}
<div class="row">
	<h2 class="center"> Enter Info in text boxes below </h2>
</div>
<div class="row">
	<div class="center-div">
		<div class="form-input">
			<form method="post"> {% csrf_token %}
				<table>
			{{ form.as_table }}
				</table>
			<input type="submit" value="Save" />
			</form>
		</div>
	</div>
</div>
{% endblock %}