{% extends 'structure.html' %}

{% block content %}
<div class="row"> 
	<h2 class="center"> Does your essay have Citations? </h2>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-4  if-citation">
		<a href="{% url 'chi-citation-ex' %}"> <button class="if-button"><h2> Yes</h2></button> </a>
	</div>
	<div class="col-sm-4  if-citation">
		<a href="{% url 'chi-new' %}"> <button class="if-button"><h2> No </h2></button> </a>
	</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}