{% extends 'structure.html' %}

{% block content %}
<div class="row">
<h1 class="h1-center">Welcome To FormatIt!</h1>
</div>
<div class="row">
	<div class="container-fluid  home-image">
		<div class="get-started">
			<a href="{% url 'select-style' %}">
				<button>
					<h2> Get Started!</h2>
					<hr />
					<p class="big-text"> Let's format your essay in a few quick steps</p>
				</button>
			</a>
		</div>
	</div>
</div>
<div class="row">
<h2 class="center">How It Works</h2>
</div>
<div class="row" >
	<div class="home-descp">
		<p class="big-text" style="text-indent: 40px;">FormatIt is an easy way to transform your quickly typed essay into a proper MLA, APA, or Chicago formatted essay. Click Get Started and you will be prompted for the style you would like and then enter information into the corresponding fields. Once completed, you are able to export the formatted essay to a .doc file where you can print or submit the document to your professor. Please let me know what you think of the site and if there is anything I could do to make it better. Thanks!</p>
	</div>
</div>
{% endblock %}