{% extends 'structure.html' %}

{% block content %}
<div class="row"> <h2 class="center"> Your Formatted Essay! </h2></div>
<div class="row">
    <div class="align-right">
        <button class="export-button" onclick="Export2Doc('exportContent');">Export as .doc</button>
    </div>
</div>
<div class="row">
    <div id="exportContent">
        <div class="center-div">
            <div class="essay-details">
                <p style="line-height: 200%;">{{ mlaessaywcitation.author }} <br />
                   {{ mlaessaywcitation.professor }}<br />
                   {{ mlaessaywcitation.className }}<br />
                   {{ mlaessaywcitation.date  }} </p>
                <h1 style="text-align:center;font-weight: normal;font-size: 1.5em;"> {{ mlaessaywcitation.title }}</h1>
                <div id="body">
                    {{ mlaessaywcitation.paragraphs | linebreaksbr }}
                </div>
                <br clear="all" style="mso-special-character:line-break;page-break-before:always">
                 <h1 style="text-align:center;font-weight: normal;font-size: 1.5em;"> Works Cited</h1>
                 <p style="text-align: center;line-height: 200%">{{ mlaessaywcitation.citations | linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
    window.onload = function updateBody(){
        var split = document.getElementById('body').innerHTML.split("<br>");
        document.getElementById('body').innerHTML = '';
        for (var i = 0; i < split.length; i++) {
            var element = document.createElement('p');
            element.setAttribute('style', 'text-indent: 40px; line-height: 200%;');
            var text = document.createTextNode(split[i]);
            element.appendChild(text);
             document.getElementById('body').appendChild(element);
        }
    }

        function Export2Doc(element, filename = ''){

     // document.getElementById("body").innerHTML = document.getElementById("body").innerHTML.replace('<br>','</p><p style="text-indent:40px;line-height: 200%;">');

    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Easy Essay Formatter</title></head><body>";
    var postHtml = "</body></html>";
    var html = preHtml+document.getElementById(element).innerHTML+postHtml;

    var blob = new Blob(['\ufeff', html], {
        type: 'application/msword'
    });

    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
    
    filename = filename?filename+'.doc':'document.doc';
    
    var downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob ){
        navigator.msSaveOrOpenBlob(blob, filename);
    }else{
        downloadLink.href = url;

        downloadLink.download = filename;
     
        downloadLink.click();
    }
    
    document.body.removeChild(downloadLink);
}
    </script>
    {% endblock %}