{% extends 'structure.html' %}

{% block content %}
<div class="row">
	<h1 class="h1-center"> Please Select Which Format You Would Like To Use </h1>
</div>
<div class="row">
		<div class="col-sm-4  select-square">
			<a href="{% url 'select-mla' %}"><button class="select-buttons"><h2>MLA</h2><hr><p>MLA Format is typically used for liberal arts and humanities</button></a>
		</div>
		<div class="col-sm-4  select-square">
			<a href="{% url 'select-apa' %}"><button class="select-buttons"><h2>APA</h2><hr> <p>APA Format is typically used for legal papers and lawyers</p></button></a>
		</div>
		<div class="col-sm-4  select-square">
			<a href="{% url 'select-chi' %}"><button class="select-buttons  push-bottom">
			<h2>Chicago</h2><hr><p>Chicago Format is typically used for History Essays</p></button></a>
		</div>
</div>
{% endblock content %}